<!-- change page func. give results (to be used by primary. secondary allowed)-->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Results Page</title>

  <%- include('_partials/head') %>
  <link rel="stylesheet" href="/styles/calendar.css" />

  <script defer src="/scripts/calendar_FE.js"></script>
</head>

<body>
  <!-- Top nav bar (fixed) -->

  <%- include('_partials/nav') %>

  <!-- Page-specific (main) content here -->
  <header>
    Results for : <%= schedule.type %>
  </header>

  <main>


    <section id="side-bar">

      <h5>Contributors:</h5>
      <% for (let voter of voters) { %>
        <div class="date"> <%= voter.name %> </div>
      <% } %>

    </section>

    <section id="middle-bar">

      <div class="dates-container">

        <% for (let result of results) { %>
          <div class="date-container" name="container" style="background-color:<%= result.style %>;" >
            <div class="date-display"><%= result.utc %></div>

            <div class="result-bar-shrink">
              <span class="triangle triangle-left">
                <span class="percentage"><%= `${result.percentage}%` %></span>
              </span>
              <div class="result-bar" style="width: <%= `${100 - result.percentage}%` %>;" >
              </div>
            </div>
          </div>

        <% } %>

      </div>
    </section>

  </main>
</body>

</html>
