<!-- change page func. give results (to be used by primary. secondary allowed)-->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Results Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/calendar.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/calendar_FE.js"></script>
</head>

<body>
  <!-- Top nav bar (fixed) -->

  <%- include('partials/nav') %>

  <!-- Page-specific (main) content here -->
  <main>


    <section id="side-bar">

      <h5>Contributors:</h5>
      <% for (let voter of voters) { %>
        <div class="date"> <%= voter.voter_name %> </div>
      <% } %>

    </section>



    <section id="middle-bar">

      <div class="dates-container">

        <% for (let result of results) { %>
          <span class="date-container" name="container" style="background-color:<%= result.style %>; width: <%= result.length %>;" >
            <%= result.sum %> <%= result.utc %> <%= result.dateid%>

            <span class="triangle triangle-left"></span>
            <span class="result-bar-shrink" style="width: <%= `${100 - result.percentage}%` %>;" >
              <%= `${result.percentage}%` %>
            </span>
          </span>

        <% } %>

      </div>
    </section>

  </main>

  <!-- <footer id="primary-footer">
    <button id="footer-button"> <i class="fa-solid fa-circle-chevron-up"></i> </button>
  </footer> -->
</body>

</html>
