<!-- aggrigate events page. primary only -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>All schedules Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="/scripts/schedule_FE.js"></script>

</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <span class="logo">ScheduleMe</span>

    <button id="new-tweet-button">
      <div>
      <span class="bold">all events page</span>
      </div>
    </button>

  </nav>

  <!-- Page-specific (main) content here -->
  <main>




    <section id="middle-bar">

      <div class="schedules-container">
        <div></div>


        <% for (let schedule of schedules) { %>
          <div data-id="<%= schedule.id %>" class="date-container" name="container">

            <%= schedule.id %>
            <%= schedule.url %>

            <% for (let dates of schedule.dates) { %>

                <div><%= dates.utc %></div>

            <% } %>

            <div id="go-to-results-button" data-url="<%= schedule.url %>">
              results
            </div>
          </div>
        <% } %>
          <!-- <header>
            <span id="icon-name">
              <img src = "${tweet.user.avatars}" alt = "<i class="fa-solid fa-user"></i>
              ${tweet.user.name}
            </span>
            <span id="account"> ${tweet.user.handle} </span>
          </header>
          <div class="content">
            ${tweet.content.text}
          </div>
          <footer>
            <span>${timeago.format(tweet.created_at, 'en_US')}</span>
            <span id="icons">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-flag"></i>
              <i class="fa-solid fa-repeat"></i>
            </span>
          </footer> -->

      </div>
      <div class="popup">
        the popup!
        Schedule _ for <span id="popup-date"></span>
        <button class="accept"> accept </button>
        <button class="decline"> decline </button>
      </div>

    </section>


  </main>

  <footer id="primary-footer">
    <button id="footer-button"> <i class="fa-solid fa-circle-chevron-up"></i> </button>
  </footer>
</body>

</html>
