<!-- aggrigate events page. primary only -->

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Aggrigate Schedules Page</title>

  <%- include('_partials/head') %>

  <script src="/scripts/schedule_FE.js"></script>

</head>


<body>

  <%- include('_partials/nav') %>

  <main>

    <section id="middle-bar">

      <div class="schedules-container">
        <table class="table table-dark table-striped-columns table-hover">
          <thead>
            <tr>
              <th scope="col"> URL </th>
              <th scope="col"> Range </th>
              <th scope="col"> Current Participants </th>
              <th scope="col"> Event </th>
              <th scope="col"> </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% for (let schedule of schedules) { %>
              <tr data-id="<%= schedule.id %>" name="container">

                <td><%= schedule.url %></td>
                <td><%= schedule.range %>  </td>
                <td><%= schedule.count %></td>
                <td><%= schedule.type %></td>

                <td><a class="btn btn-outline-light" href="primary/<%= schedule.url %>">
                  results
                </a></td>
              </tr>
            <% } %>
          </tbody>
        </table>
          <!-- <header>
            <span id="icon-name">
              <img src = "${tweet.user.avatars}" alt = "<i class="fa-solid fa-user"></i>
              ${tweet.user.name}
            </span>
            <span id="account"> ${tweet.user.handle} </span>
          </header>
          <div class="content">
            ${tweet.content.text}
          </div>
          <footer>
            <span>${timeago.format(tweet.created_at, 'en_US')}</span>
            <span id="icons">
              <i class="fa-solid fa-heart"></i>
              <i class="fa-solid fa-flag"></i>
              <i class="fa-solid fa-repeat"></i>
            </span>
          </footer> -->

      </div>
      <div class="popup">
        the popup!
        Schedule _ for <span id="popup-date"></span>
        <button class="accept"> accept </button>
        <button class="decline"> decline </button>
      </div>

    </section>


  </main>

  <footer id="primary-footer">
    <button id="footer-button"> <i class="fa-solid fa-circle-chevron-up"></i> </button>
  </footer>
</body>

</html>
